
body {
    background-color: rgb(38, 45, 51);
}

.header {
    display: flex;
    background-color: rgb(20, 20, 19);
    justify-content:space-around; 
    padding: 10px;
}
.header .por{
    color: white;
}

.header .menu {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    /* background-color: aqua; */
    /* align-items: center; */
}

.menu li {
    /* background-color: brown; */
    width: 70px;
    text-align: center;
    color: white; 
    align-content: center;
  
}
.contenido{
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
    
    
}

.contenido .info{
    /* background-color: rgb(192, 186, 130); */
   text-align: justify;
   padding: 170px;
   padding-top: 90px;
   padding-right: 60px;

}
.info{
    display: flex;
    flex-direction: column;
    /* gap: -80px; */
    /* border: 12px;
    border-color: black;
    border-radius: 12px;
    border-style: solid;
    gap: 0px; */
    position: relative;
    width: 400px;
}
.hola{
    display: flex;
    height: auto;
    margin-bottom: 0px;
    padding-top: 20px;
    /* font-size: larger;
    background-color: aqua; */
    font-weight: 800;
    font-size: x-large;
    color: white;
}
.info .nombre{
    display: flex;
    /* background-color: rgb(64, 177, 60); */
    align-items: center;
    color: white;
}
.destacado{
    color: rgb(135, 241, 153);
    font-family:'Times New Roman', Times, serif;
}

.contenido .sub{
    /* background-color: blue; */
    font-size: x-large;
    position: relative;
    bottom: 30px;
    color: white;
}
.contenido .mas{
    color: white;
    /* background-color: aquamarine; */
    position: relative;
    bottom: 47px;
    padding-right: 27px;

}
.contenido .imagen{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-right: 20px;
}
.imagen img{
    height: 200px;
    width: 200px;
    position: relative;
   bottom: 50px;
   opacity: 0.9;
}
.logos{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    bottom: 40px;
    
    
}
.logos img{
    height: 30px;
    width: 30px ;
}
.boton{
    display: flex;
    background-color: rgb(82, 231, 107);
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    /* border: 2px;
    border-style:solid; */
    /* border-color: white; */
    /* transition: border-color 0.3s ease; */
    /* text-transform: uppercase; */
     transition: all 0.3s ease;
     box-shadow: 0 0 2px rgb(82, 231, 107), 0 0 12px rgb(82, 231, 107), 0 0 10px rgb(82, 231, 107), 
     0 0 2px rgb(82, 231, 107);
    
}
.boton a{
   
    text-decoration: none; 
    color:rgb(38, 45, 51) ;
    width: 100%;
    
}